<!DOCTYPE html>
<html>
<head>
    <title> Metro </title>
    <link href="/assets/styles.css" rel="stylesheet" /></head>
<body>
    <p> <strong> I LOVE KATYA </strong> </p>

    <form role="from" method="POST" action="/sendgrid">
        <div id="#puzzle">
            <input type="number" name="cell_00" id="#cell" min="0" max="9">
            <input type="number" name="cell_01" id="#cell" min="0" max="9">
            <input type="number" name="cell_02" id="#cell" min="0" max="9">
            <input type="number" name="cell_03" id="#cell" min="0" max="9">
            <input type="number" name="cell_04" id="#cell" min="0" max="9">
            <input type="number" name="cell_05" id="#cell" min="0" max="9">
            <input type="number" name="cell_06" id="#cell" min="0" max="9">
            <input type="number" name="cell_07" id="#cell" min="0" max="9">
            <input type="number" name="cell_08" id="#cell" min="0" max="9">
            <input type="number" name="cell_10" id="#cell" min="0" max="9">
            <input type="number" name="cell_11" id="#cell" min="0" max="9">
            <input type="number" name="cell_12" id="#cell" min="0" max="9">
            <input type="number" name="cell_13" id="#cell" min="0" max="9">
            <input type="number" name="cell_14" id="#cell" min="0" max="9">
            <input type="number" name="cell_15" id="#cell" min="0" max="9">
            <input type="number" name="cell_16" id="#cell" min="0" max="9">
            <input type="number" name="cell_17" id="#cell" min="0" max="9">
            <input type="number" name="cell_18" id="#cell" min="0" max="9">
            <input type="number" name="cell_20" id="#cell" min="0" max="9">
            <input type="number" name="cell_21" id="#cell" min="0" max="9">
            <input type="number" name="cell_22" id="#cell" min="0" max="9">
            <input type="number" name="cell_23" id="#cell" min="0" max="9">
            <input type="number" name="cell_24" id="#cell" min="0" max="9">
            <input type="number" name="cell_25" id="#cell" min="0" max="9">
            <input type="number" name="cell_26" id="#cell" min="0" max="9">
            <input type="number" name="cell_27" id="#cell" min="0" max="9">
            <input type="number" name="cell_28" id="#cell" min="0" max="9">
            <input type="number" name="cell_30" id="#cell" min="0" max="9">
            <input type="number" name="cell_31" id="#cell" min="0" max="9">
            <input type="number" name="cell_32" id="#cell" min="0" max="9">
            <input type="number" name="cell_33" id="#cell" min="0" max="9">
            <input type="number" name="cell_34" id="#cell" min="0" max="9">
            <input type="number" name="cell_35" id="#cell" min="0" max="9">
            <input type="number" name="cell_36" id="#cell" min="0" max="9">
            <input type="number" name="cell_37" id="#cell" min="0" max="9">
            <input type="number" name="cell_38" id="#cell" min="0" max="9">
            <input type="number" name="cell_40" id="#cell" min="0" max="9">
            <input type="number" name="cell_41" id="#cell" min="0" max="9">
            <input type="number" name="cell_42" id="#cell" min="0" max="9">
            <input type="number" name="cell_43" id="#cell" min="0" max="9">
            <input type="number" name="cell_44" id="#cell" min="0" max="9">
            <input type="number" name="cell_45" id="#cell" min="0" max="9">
            <input type="number" name="cell_46" id="#cell" min="0" max="9">
            <input type="number" name="cell_47" id="#cell" min="0" max="9">
            <input type="number" name="cell_48" id="#cell" min="0" max="9">
            <input type="number" name="cell_50" id="#cell" min="0" max="9">
            <input type="number" name="cell_51" id="#cell" min="0" max="9">
            <input type="number" name="cell_52" id="#cell" min="0" max="9">
            <input type="number" name="cell_53" id="#cell" min="0" max="9">
            <input type="number" name="cell_54" id="#cell" min="0" max="9">
            <input type="number" name="cell_55" id="#cell" min="0" max="9">
            <input type="number" name="cell_56" id="#cell" min="0" max="9">
            <input type="number" name="cell_57" id="#cell" min="0" max="9">
            <input type="number" name="cell_58" id="#cell" min="0" max="9">
            <input type="number" name="cell_60" id="#cell" min="0" max="9">
            <input type="number" name="cell_61" id="#cell" min="0" max="9">
            <input type="number" name="cell_62" id="#cell" min="0" max="9">
            <input type="number" name="cell_63" id="#cell" min="0" max="9">
            <input type="number" name="cell_64" id="#cell" min="0" max="9">
            <input type="number" name="cell_65" id="#cell" min="0" max="9">
            <input type="number" name="cell_66" id="#cell" min="0" max="9">
            <input type="number" name="cell_67" id="#cell" min="0" max="9">
            <input type="number" name="cell_68" id="#cell" min="0" max="9">
            <input type="number" name="cell_70" id="#cell" min="0" max="9">
            <input type="number" name="cell_71" id="#cell" min="0" max="9">
            <input type="number" name="cell_72" id="#cell" min="0" max="9">
            <input type="number" name="cell_73" id="#cell" min="0" max="9">
            <input type="number" name="cell_74" id="#cell" min="0" max="9">
            <input type="number" name="cell_75" id="#cell" min="0" max="9">
            <input type="number" name="cell_76" id="#cell" min="0" max="9">
            <input type="number" name="cell_77" id="#cell" min="0" max="9">
            <input type="number" name="cell_78" id="#cell" min="0" max="9">
            <input type="number" name="cell_80" id="#cell" min="0" max="9">
            <input type="number" name="cell_81" id="#cell" min="0" max="9">
            <input type="number" name="cell_82" id="#cell" min="0" max="9">
            <input type="number" name="cell_83" id="#cell" min="0" max="9">
            <input type="number" name="cell_84" id="#cell" min="0" max="9">
            <input type="number" name="cell_85" id="#cell" min="0" max="9">
            <input type="number" name="cell_86" id="#cell" min="0" max="9">
            <input type="number" name="cell_87" id="#cell" min="0" max="9">
            <input type="number" name="cell_88" id="#cell" min="0" max="9">
        </div>
        
        <p> <button type="submit" class="btn btn-default"> Solve </button> </p>
        
        </form>
        
        <li> <a href="/"> Home </a> </li>        

</body>
</html>