{{ define "header.tmpl" }}

<!DOCTYPE html>
<html>
<head>
    <title> Metro </title>
    <link href="/assets/styles.css" rel="stylesheet" /></head>
<body>
    <p> <strong> I LOVE KATYA </strong> </p>

{{ end }}